/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* font-family: 'Varela Round', sans-serif; */
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  font-weight: normal;
  padding-bottom: 50px;
  /*to account for subscribe bar*/
}

p {
  margin-top: 0;
}

canvas {
  background:
    linear-gradient(0deg, #fff, rgba(255, 255, 255, 0) 50%),
    linear-gradient(90deg, #fff, rgba(255, 255, 255, 0) 8%),
    linear-gradient(180deg, #fff, rgba(255, 255, 255, 0) 5%),
    linear-gradient(270deg, #fff, rgba(255, 255, 255, 0) 8%),
    url('../img/snow-background.jpg') no-repeat center;
  background-size: cover;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.resources p {
  font-size: .95em;
  margin-bottom: 1.5em;
  text-indent: 2em;
}

.indent p {
  text-indent: 2em;
}

.resources li {
  list-style-type: disc;
}

.resources a {
  text-decoration: underline;
}

.resources h1 {
  color: navy;
}

.resources h2 {
  margin-top: 1em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
}

ol,
.resources ul {
  margin: 1em;
}

.resources ul {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

.h1_shadow {
  text-shadow: 2px 2px 0px #b2a98f,
    3px 3px 7px rgba(0, 0, 0, 0.15),
    4px 4px 2px rgba(0, 0, 0, 0.1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
}

.h2_shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.62);
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #A0CDEA;
  text-decoration: none;
}

a:visited {
  color: #A0CDEA;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

/* =================================
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.main-nav li {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  list-style: none;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  transition: all 0.5s;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

nav h2 {
  color: #fff;
}

h2 span {
  font-weight: lighter;
}

.main-nav a:hover {
  transform: scale(1.2);
  color: black;
}

.main-header {
  padding-top: 0.5em;
  padding-bottom: .5em;
  background-color: #A0CDEA;
}

/* .active{
  background-color: #fff;
  color: black;
} */
.arrow {
  width: 120px;
  margin: 70px auto 0;
  transition: all 0.5s;
  display: block;
}

.arrow:hover {
  transform: scale(1.2);
}

.banner h1 {
  font-size: 4em;
}

.banner h2 {
  font-size: 1em;
}

.hori_bar {
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
}

.index img {
  max-width: 300px;
}

.container {
  text-align: center;
}

#logo {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 10px 0 10px;
  transition: all 1.5s;
}

.logo:hover {
  transform: scale(1.2) rotate(360deg);
}

.intro {
  font-size: 1.25em;
  /* 20px/16px */
  line-height: 1.6;
  color: white;
  text-align: center;
  padding-top: 1em;
}

.primary-content {
  background: linear-gradient(180deg, #A0CDEA, rgba(255, 255, 255, 0) 90%);
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.primary-content,
.secondary-content {
  padding-bottom: 20px;
  margin: auto;
  border-bottom: 5px solid #A0CDEA;
}

.hori_bar_blue {
  border-bottom: 5px solid #A0CDEA;
  margin-top: 20px;
}

.about {
  color: white;
  text-align: left;
  width: 100%;
  padding: 18% 15%;
  margin: 50px auto 60px;
  background: tomato;
  background: url('../img/jin.jpg') no-repeat center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);
}

.context {
  width: 85%;
  max-width: 1000px;
  margin: 1em auto;
  padding: 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.courses-table {
  font-size: 0.7em;
}

.banner {
  height: 600px;
  padding: 10em 0;
}

.index_banner {
  background:
    linear-gradient(0deg, #fff, rgba(255, 255, 255, 0) 50%),
    linear-gradient(90deg, #fff, rgba(255, 255, 255, 0) 8%),
    linear-gradient(180deg, #fff, rgba(255, 255, 255, 0) 5%),
    linear-gradient(270deg, #fff, rgba(255, 255, 255, 0) 8%),
    url('../img/snow-background.jpg') no-repeat center;
  background-size: cover;
}

.banner_inner {
  height: 10px;
  color: #fff;
  text-align: center;
}

.shadow {
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.63);
}

#picture {
  position: relative;
}

.blob, .blob1, .blob2 {
  position: absolute;
  font-size: 6em;
  color: white;
  margin-top: -70px;
  margin-left: -156px;
}

.blob1 {
  top: 50%;
  left: 50%;
}

label {
  display: inline-block;
}

.emphasis li {
  font-weight: lighter;
  list-style-type: circle;
}

.admin,
.event {
  width: 100%;
  text-align: center;
  margin: 30px auto 0;
  text-align: center;
}

.event-card {
  max-width: 500px;
}
ß
.admin-card {
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: arial;
}

.admin-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 300px;
}

.event-card img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.event-card img:hover {
  opacity: 0.7;
}

.event li {
  display: block;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 0;
}

.event p {
  padding: 0 2em 1em;
}

.caption {
  width: 90%;
  margin: 10px auto;
}

iframe {
    min-width: 100%;
    width: 1px;
    *width: 100%;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 0;
  margin: 20px 0 0;
}

footer .copyright {
  top: 8px;
  margin: 1em auto;
  font-size: 1em;
  color: #364172;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

footer li {
  display: inline-block;
  transition: 0.25s;
}

footer li:hover {
  transform: scale(1.2) rotate(10deg);
}

/* social link Styles */
.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  transition: all .25s;
}

.linkedin {
  background-image: url("../img/linkedin.jpg");
  border-radius: 50px;
}

.instagram {
  background-image: url("../img/instagram.jpg");
  border-radius: 50px;
}

.twitter {
  background-image: url("../img/twitter.jpg");
  border-radius: 50px;
}

.github {
  background-image: url("../img/github.jpg");
  border-radius: 50px;
}

.google {
  background-image: url("../img/google.jpg");
  border-radius: 50px;
}

@media (min-width: 800px) {
  .left {
    float: left;
    width: 45%;
    padding: 1em;
  }

  .right {
    float: left;
    width: 55%;
    padding: 1em;
  }

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

  .main-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
  }

  .change_color {
    background-color: #A0CDEA;
  }

  .name {
    float: left;
    margin-top: 1em;
    color: #fff;
    display: inline-block;
  }

  .main-nav {
    float: right;
    padding-right: 3em;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  #logo {
    width: 70px;
    height: 70px;
  }

  .name {
    margin-top: 3px;
    margin-left: 60px;
  }

  .banner {
    height: 700px;
    background-attachment: fixed;
  }

  .banner h1 {
    font-size: 6em;
    z-index: 1000;
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .about {
    width: 85%;
  }

  .social {
    opacity: 0.7;
    transition: all .25s;
  }

  .social:hover {
    opacity: 1;
  }
}

@media (min-width: 1000px) {

  .admin li:nth-child(even),
  .event li:nth-child(even) {
    float: right;
    width: 45%;
  }

  .admin li:nth-child(odd),
  .event li:nth-child(odd) {
    float: left;
    width: 45%;
  }

  .admin::after,
  .event::after {
    content: "";
    display: table;
    clear: both;
  }
}
